<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <title>constructor</title>
        <link rel="stylesheet" href="/src/static/css/konst.css">
        <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    </head>
    <body>
        <script type="module" src="/src/js/script.js"></script>
        <script>
            // const test_data = {{ test_data|safe }};
            function publishAndRedirect() {
                const testId = test_data.id;
                window.location.href = "{% url 'editor:vac_konst' %}?test_id=" + testId;
            }
        </script>
        <header class = "header">
            <div class="header-logo">
                <a href="menu-konst.html"><img class="header-logo-img" src="/src/static/img/logo-2.png" alt="Logo"></a>
            </div>
            <button class ="hc-button">Сохранить</button>
            <button onclick="publishAndRedirect()" class="hc-button-1">Ссылка</button>
            <div class="icons">
                <a href="#"><img src="/src/static/img/location.svg" alt="geo"></a>
                <a href="#"><img src="/src/static/img/mail.svg" alt="Email"></a>
                <a href="lk.html"><img src="/src/static/img/profile.svg" alt="User"></a>
            </div>
        </header>
        <button class="back" onclick="location.href='menu-konst.html'"><img src="/src/static/img/Arrow-3.svg" class="back-img"><p class="back-p">Назад</p></button>

        <div class="timer" id="test-timer">
            <input type="number" class="timer-hours" id="test-hours" placeholder="Часы">
            <input type="number" class="timer-min" id="test-minutes" min="30" max="59" placeholder="Минуты">
            <button class="timer-button" id="set-timer">Установить время</button>
        </div>
        <main>
            <section class="form-container">
                <div class="form-header">
                    <h1 contenteditable="true" id="test-title">Новый тест</h1>
                    <p contenteditable="true" id="test-description">Описание</p>
                </div>
                <div id="form-questions" class="form-questions">
                </div>
                <div class = add-questions>
                    <button id="add-question" class="add-question-btn"><img src="/src/static/img/add (2).svg"></button>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-content">
                <div class="footer-section-1">
                    <img src="/src/static/img/logo-2.png" alt="mascot" class="footer-image">
                </div>
                <div class="footer-section">
                    <h3>Основное</h3>
                    <ul>
                        <li><a href="#">Согласие на получение рекламных сообщений</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Правовая информация</h3>
                    <ul>
                        <li><a href="#">Пользовательское соглашение</a></li>
                        <li><a href="#">Политика обработки персональных данных</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
