<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Личный-кабинет</title>
        <link rel="stylesheet" href="/src/static/css/lk-pd.css">
    </head>
    <body>
        <header class = "header">
            <div class="header-logo">
                <img class="header-logo-img" src="/src/static/img/logo-2.png" alt="Logo">
            </div>
            <div class="icons">
                <a href="#"><img src="/src/static/img/location.svg" alt="geo"></a>
                <a href="#"><img src="/src/static/img/mail.svg" alt="Email"></a>
                <a href="#"><img src="/src/static/img/profile.svg" alt="User"></a>
            </div>
        </header>
        <main>
            <section class="container">
                <section class="left-side">
                    <section class="avatar">
                        <img src="/src/static/img/avatar-mini.svg" alt="avatar">
                    </section>
                    <section class="avatar-p">
                        <p class="avatar-p-1">Иванов Иван Иванович</p>
                        <p class="avatar-p-2">Ivanov.Ivan@example.com</p>
                        <p class="avatar-p-3"><a href="lk.html">Вeрнуться обратно</a></p>
                    </section>
                </section>
                <section class="right-side">
                    <div class="info">
                        <h1>Личные данные</h1>
                    </div>
                    <form id="registrationForm">
                        <div class="input-group">
                            <div class="input-group-2">
                                <p>ФИО</p>
                                <p>Почта</p>
                                <p>Пароль</p>
                            </div>
                            <div class="input-group-3">
                                <div class="input-group-1">
                                    <input type="text" id="firstName" placeholder="Введите ФИО" required>
                                </div>
                                <div class="input-group-1">
                                    <input type="email" id="email" placeholder="Введите почту" required>
                                </div>
                                <div class="input-group-1 password-group">
                                    <input type="password" id="password" placeholder="Введите пароль" required>
                                </div>
                                <div class="input-group-1 password-group">
                                    <input type="password" id="confirmPassword" placeholder="Повторите пароль" required>
                                </div>
                            </div>
                        </div>
                        <button class="submit" type="submit">Сохранить</button>
                    </form>
                </section>
            </section>
        </main>
        <footer>
            <div class="footer-content">
                <div class="footer-section-1">
                    <img src="/src/static/img/logo-2.png" alt="mascot" class="footer-image">
                </div>
                <div class="footer-section">
                    <h3>Основное</h3>
                    <ul>
                        <li><a href="#">Согласие на получение рекламных сообщений</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Правовая информация</h3>
                    <ul>
                        <li><a href="#">Пользовательское соглашение</a></li>
                        <li><a href="#">Политика обработки персональных данных</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>