<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Личный-кабинет</title>
        <link rel="stylesheet" href="/src/static/css/lk.css">
    </head>
    <body>
        <header class = "header">
            <div class="header-logo">
                <a href="menu-konst.html"><img class="header-logo-img" src="/src/static/img/logo-2.png" alt="Logo"></a>
            </div>
            <div class="icons">
                <a href="#"><img src="/src/static/img/location.svg" alt="geo"></a>
                <a href="#"><img src="/src/static/img/mail.svg" alt="Email"></a>
                <a href="lk.html"><img src="/src/static/img/profile.svg" alt="User"></a>
            </div>
        </header>
        <main>
            <section class="container">
                <section class="left-side">
                    <section class="avatar">
                        <img src="/src/static/img/avatar.svg" alt="avatar">
                    </section>
                    <section class="avatar-p">
                        <p><a href="lk-PersonalData.html">Изменить<br>личную информацию</a></p>
                        <p id="deleteAccount" class="avatar-p-2">Удалить аккаунт</p>
                        <p id="logout" class="avatar-p-3">Выйти</p>
                    </section>
                </section>
                <section class="right-side">
                    <div class="info">
                        <h1>Личные данные</h1>
                        <h4 class="name">Иванов Иван Иванович</h4>
                        <h4 class="email">Ivanov.Ivan@example.com</h4>
                    </div>
                </section>
            </section>
        </main>
        <footer>
            <div class="footer-content">
                <div class="footer-section-1">
                    <img src="/src/static/img/logo-2.png" alt="mascot" class="footer-image">
                </div>
                <div class="footer-section">
                    <h3>Основное</h3>
                    <ul>
                        <li><a href="#">Согласие на получение рекламных сообщений</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Правовая информация</h3>
                    <ul>
                        <li><a href="#">Пользовательское соглашение</a></li>
                        <li><a href="#">Политика обработки персональных данных</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="/src/js/lk.js"></script>
    </body>
</html>