<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="/src/static/css/auth.css">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <div class="logo">
                <img class="header-logo-img" src="/src/static/img/Frame-8.svg" alt="logo">
            </div>
        </div>
        <div class="right-side">
            <div class="login-form">
                <h1>Вход</h1>
                <form id="loginForm">
                    <div class="input-group">
                        <input type="email" id="email" placeholder="Введите почту" required>
                    </div>
                    <div class="input-group password-group">
                        <input type="password" id="password" placeholder="Введите пароль">
                        <button type="button" class="eye-icon">
                            <img src="/src/static/img/eye.svg" class="profile-image">
                        </button>
                    </div>
                    <button class="submit" type="submit">Войти</button>
                </form>
                <p><a href="registration.html" id='registerLink'>Нет аккаунта? Зарегистрироваться</a></p>
            </div>
        </div>
    </div>

    <script src="/src/js/auth.js"></script>
    <script>
        const passwordInput = document.getElementById('password');
        const eyeIcon = document.querySelector('.eye-icon img');

        eyeIcon.addEventListener('click', () => {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.src = '/src/static/img/open-eye.svg';

            } else {
                passwordInput.type = 'password';
                eyeIcon.src = '/src/static/img/eye.svg';
            }
        });
    </script>
    <template>
    </template>
</body>
</html>