<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Статистика</title>
        <link rel="stylesheet" href="/src/static/css/stat.css">
    </head>
    <body>
        <header class = "header">
            <div class="header-logo">
                <a href="menu-konst.html"><img class="header-logo-img" src="/src/static/img/logo-2.png" alt="Logo"></a>
            </div>
            <button onclick="window.location.href='menu-konst.html'" class ="hc-button">Тесты</button>
            <button class="hc-button-1">Статистика</button>
            <div class="icons">
                <a href="#"><img src="/src/static/img/location.svg" alt="geo"></a>
                <a href="#"><img src="/src/static/img/mail.svg" alt="Email"></a>
                <a href="lk.html"><img src="/src/static/img/profile.svg" alt="User"></a>
            </div>
        </header>
        <main>
            <section class="box">
<!--                <div class="section-header" style="cursor:pointer;">-->
<!--                    <h1 class="section-header-h1">Название теста</h1>-->
<!--                    <p class="score"><b>Проходной балл</b></p>-->
<!--                    <h4 class="score-section">25 баллов</h4>-->
<!--                    <p class="score"><b>Средний балл</b></p>-->
<!--                    <h4 class="score-section">20 из 30</h4>-->
<!--                    <img src="/src/static/img/Chevron.svg" class="section-header-img" alt="plus">-->
<!--                </div>-->

<!--                <div class="section-content" style="display:none;">-->
<!--                    <ol>-->
<!--                        <div class ="section-content-in"><b><li>Иванов Иван Иванович</li></b><a href="#">Ivanov.Ivan@example.com</a><button class="section-content-in-but">25 из 30</button></div>-->
<!--                        <div class ="section-content-in"><b><li>Второй пункт</li></b><a href="#">Ivanov.Ivan@example.com</a><button class="section-content-in-but">25 из 30</button></div>-->
<!--                        <div class ="section-content-in"><b><li>Третий пункт</li></b><a href="#">Ivanov.Ivan@example.com</a><button class="section-content-in-but">52 из 52</button></div>-->
<!--                    </ol>-->
<!--                </div>-->
            </section>
        </main>
        <footer>
            <div class="footer-content">
                <div class="footer-section-1">
                    <img src="/src/static/img/logo-2.png" alt="mascot" class="footer-image">
                </div>
                <div class="footer-section">
                    <h3>Основное</h3>
                    <ul>
                        <li><a href="#">Согласие на получение рекламных сообщений</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Правовая информация</h3>
                    <ul>
                        <li><a href="#">Пользовательское соглашение</a></li>
                        <li><a href="#">Политика обработки персональных данных</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    <script src="/src/js/stat.js"></script>
    </body>
</html>