<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Личные данные</title>
        <link rel="stylesheet" href="/src/static/css/registration.css">
    </head>
    <body>
        <script src="/src/js/userData.js"></script>
        <div class="container">
            <div class="left-side">
                <div class="logo">
                    <img class="header-logo-img" src="/src/static/img/Frame-8.svg" alt="logo">
                </div>
            </div>
            <div class="right-side">
                <div class="register-form">
                    <h1>Введите личные данные</h1>
                    <form id="registrationForm">
                        <div class="input-group">
                            <input type="text" id="firstName" placeholder="Введите имя" required>
                        </div>
                        <div class="input-group">
                            <input type="text" id="lastName" placeholder="Введите фамилию" required>
                        </div>
                        <div class="input-group">
                            <input type="email" id="email" placeholder="Введите почту" required>
                        </div>
                        <button class="submit" type="submit" id="getToTest">Продолжить</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>