* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #6D3914;
    font-family: Arial, sans-serif;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
}

.header-logo-img {
    width: 65px;
    height: 55px
}

.icons {
    display: flex;
    gap: 20px;
}

.icons a img {
    width: 30px;
    height: 40px;
    margin-right: 15px;
}

main {
    background-color: #EFDFC1;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-side {
    border-right: 2px solid #4C2B08;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: 40px;

}

.avatar {
    margin-top: 45px;
}

.avatar-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.avatar-p a {
    color: black;
}

.avatar-p-2 {
    color: black;
    text-decoration: underline;
    cursor:pointer;
}

.avatar-p-3 {
    color: #AB7843;
    text-decoration: none;
    cursor:pointer;
}

.right-side {

}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 200px;
    gap: 40px;
    font-size: 25px;
}


footer {
    background-color: #6D3914;
    padding: 13px 0;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: start;
    margin-left: 250px;
    gap: 60px;
    padding: 5px;
}

.footer-section {
    max-width: 300px;
}

.footer-section h3 {
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 40px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    transition: color 0.3s;

}

.footer-section ul li a:hover {
    color: #F0E1CA;
}

.footer-image {
    width: 115px;
    height: 100px;
}

.footer-section-1 {
    display: flex;
    align-items: center;
}